# Logs
logs
*.log
pnpm-debug.log*

node_modules
**/.DS_Store
dist
coverage

.env
*.local

src/types/auto-imports.d.ts
src/types/auto-imports.json
src/types/components.d.ts

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

*.tsbuildinfo

test-results
playwright-report
