<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="manifest" href="/manifest.json" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />

    <link rel="dns-prefetch" href="https://rpc.zora.energy/" />
    <link rel="dns-prefetch" href="https://mainnet.base.org/" />
    <link rel="dns-prefetch" href="https://rpc.scroll.io/" />
    <link rel="dns-prefetch" href="https://rpc.linea.build/" />
    <link rel="dns-prefetch" href="https://mainnet.era.zksync.io/" />
    <link rel="dns-prefetch" href="https://1rpc.io/" />
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
