/* =================== main begin ========================= */
$primary-color: #7f1fff;
$info-color: #2080f0;
$success-color: #039855;
$warning-color: #ad7307;
$error-color: #e92084;

$text-color-base: #000;
$text-color-1: #1e2124;
$text-color-2: #323639;
$text-color-3: #667085;
$text-color-bright: white;

$grey-color-1: #fafafa;
$grey-color-2: #f5f5f5;
$grey-color-3: #f0f0f0;
$grey-color-4: #d9d9d9;
$grey-color-5: #bfbfbf;
$grey-color-6: #8c8c8c;

$box-shadow-1: 0 1px 2px -2px rgba(0, 0, 0, .08), 0 3px 6px 0 rgba(0, 0, 0, .06), 0 5px 12px 4px rgba(0, 0, 0, .04);
$box-shadow-2: 0 3px 6px -4px rgba(0, 0, 0, .12), 0 6px 16px 0 rgba(0, 0, 0, .08), 0 9px 28px 8px rgba(0, 0, 0, .05);
/* =================== main end =========================== */

/* =================== background begin =================== */
$bg-color-1: #fff;
$bg-color-2: #f8f9fa;
$bg-color-3: #f2f4f7;
$bg-color-4: #fafafc;
$bg-color-5: #e7e9ee26;
/* =================== background end ===================== */

/* =================== component begin ==================== */
$body-color: #fff;
$main-color: #fcfcfd;
$background-color: #e7e9ee26;
// $block-color: #f9fafb;
$block-color: #f8f9fa;
$divider-color: #efeff5;
$pressed-color: #2e333821;
/* =================== component begin ==================== */

.light:root {
  --x-primary-color: #{$primary-color};
  --x-info-color: #{$info-color};
  --x-success-color: #{$success-color};
  --x-warning-color: #{$warning-color};
  --x-error-color: #{$error-color};

  --x-grey-color-1: #{$grey-color-1};
  --x-grey-color-2: #{$grey-color-2};
  --x-grey-color-3: #{$grey-color-3};
  --x-grey-color-4: #{$grey-color-4};
  --x-grey-color-5: #{$grey-color-5};
  --x-grey-color-6: #{$grey-color-6};

  --x-box-shadow-1: #{$box-shadow-1};
  --x-box-shadow-2: #{$box-shadow-2};

  --x-bg-color-1: #{$bg-color-1};
  --x-bg-color-2: #{$bg-color-2};
  --x-bg-color-3: #{$bg-color-3};
  --x-bg-color-4: #{$bg-color-4};
  --x-bg-color-5: #{$bg-color-5};

  --x-body-color: #{$body-color};
  --x-main-color: #{$main-color};
  --x-background-color: #{$background-color};
  --x-block-color: #{$block-color};
  --x-divider-color: #{$divider-color};
  --x-pressed-color: #{$pressed-color};

  --x-text-color-base: #{$text-color-base};
  --x-text-color-1: #{$text-color-1};
  --x-text-color-2: #{$text-color-2};
  --x-text-color-3: #{$text-color-3};
  --x-text-color-bright: #{$text-color-bright};
}
