$content-max-w: 1320px;

$header-h: 64px;
$header-z: 999;

$main-min-h: calc(100vh - $header-h);
$main-scrollbar-z: $header-z + 1;

:root {
  --x-content-max-w: #{$content-max-w};

  --x-header-h: #{$header-h};
  --x-header-z: #{$header-z};

  --x-main-min-h: #{$main-min-h};
  --x-main-scrollbar-z: #{$main-scrollbar-z};
}
